@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: darkgray;
    border: 1px solid hsl(0, 100%, 50%);
}

h1 {
    text-align: center;
}

ul {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}

ul li {
    color: brown;
    text-align: center;
    font-size: 1.5em;
    flex: auto;
    padding: 2em;
}

a {
    decoration: none;
    text-decoration: none;
    color: inherit;
}

ul li img {
    height:50px;
    width: auto;
    border-radius: 50%;
}

a:hover {
    cursor:pointer;
}